@import '/css/open-props@1.7.3/open-props.min.css';

:root {
  color-scheme: dark;
  background-color: var(--stone-11);
  color: var(--brown-0);
  line-height: 1.5;
}

body {
  margin: var(--size-3);
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 2 * var(--size-3));

  font-family: var(--font-sans);
}

header {
  flex: none;
  margin-bottom: var(--size-3);
}

footer {
  margin-top: var(--size-7);
  text-align: center;
  font-size: var(--font-size-0);
  color: var(--stone-4);
}

main {
  flex: 1 1 0;
}

ul.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: var(--font-size-1);

  & a {
    color: var(--stone-5);
  }

  & a.active {
  }

  & a:hover {
    color: var(--stone-3);
  }
}

ul.breadcrumbs li:not(:last-child)::after {
  display: inline-block;
  margin: 0 .25rem;
  content: "›";
  color: var(--stone-6);
}

h1 {
  text-align: center;
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-7);
  color: var(--stone-0);
}

a {
  color: var(--stone-1);
  text-decoration: none;
}

.intro {
  max-width: var(--size-content-3);
  margin: 0 auto var(--size-5);
  text-align: center;
}

.recent-reviews {

  display: flex;
  flex-direction: column;
  align-items: center;

  > * + * {
    margin-top: var(--size-5);
  }

  @media (width >= 768px) {
    flex-direction: row;
    justify-content: center;

    > * + * {
      margin-left: var(--size-4);
    }
  }
}

.all-reviews {
  display: flex;
  flex-direction: row;
  justify-content: center;

  > * + * {
    margin-left: var(--size-4);
  }
}

.review-preview {
  display: flex;
  flex-direction: column;

  .book_title, .book_author {
    font-weight: var(--font-weight-5);
    font-size: var(--font-size-1);
  }

  .book_title {
    text-transform: uppercase;
  }

  .cover-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    margin-bottom: var(--size-2);
    max-height: 500px;

    @media (width >= 768px) {
      max-height: 260px;
      margin-bottom: var(--size-3);
    }
  }

  .cover {
    box-shadow: var(--shadow-3);
    transition: transform 100ms ease-in;
    width: 100%;
    max-width: 250px;
    height: auto;

    &:hover {
      transform: scale(1.01);
      box-shadow: var(--shadow-4);
    }

    @media (width >= 768px) {
      max-width: 140px;
    }
  }
}


.book-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--size-2);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 100%;

  @media (width >= 768px) {
    max-width: 768px;
    flex-direction: row;
    align-items: start;
    margin-top: var(--size-5);
  }

  .cover {
    max-width: 300px;
    height: auto;
    box-shadow: var(--shadow-2);
    border-radius: var(--radius-2);

    @media (width >= 768px) {
      margin-right: var(--size-5);
    }
  }

  & h1.book-title {
    text-transform: uppercase;
    text-align: left;
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-4);
    margin-bottom: 0;
  }

  .review-body {
    width: 100%;
    margin: var(--size-3) var(--size-6);
  }

  .review {
    margin-top: var(--size-7);
  }
}